# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Type checking und Test Caches
.mypy_cache/
.pytest_cache/
.hypothesis/

# IDEs und Editoren
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Coverage reports
.coverage
htmlcov/
coverage.xml
